/* src/index.css */
@import "./styles/theme.css";

/* 기본 여백 제거 및 다크 모드 배경 설정 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-dark-depth-1);
  color: var(--text-main);
  font-family: 'Pretendard', -apple-system, sans-serif;
  font-size: 17px;
  line-height: 1.5;
  overflow-x: hidden;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}